.container {
  display: grid;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;

}
.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 5vh;
  margin-left: 50px;
  margin-right: 50px;;
}
.searchbar {
  height: 20px;
}
.content {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}
.gallery {
  display: grid;
  
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));;
  grid-gap: 10px;
  margin-left: 50px;
  margin-right: 50px;
}